@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-snap-type: y mandatory;
}

section {
    @apply h-[90vh];
    scroll-snap-align: end;
}

h1 {
    @apply text-7xl md:text-9xl;
}

h2 {
    @apply text-6xl md:text-8xl;
}

h3 {
    @apply text-5xl md:text-7xl;
}

h4 {
    @apply text-2xl md:text-4xl;
}

p {
    @apply text-xl md:text-2xl;
}


/* Hero section */
.hero {
    @apply h-[90vh] flex flex-col justify-center overflow-hidden text-sunset transition-all duration-500 ;
    scroll-snap-align: end;
    @apply md:bg-[url("/heroImagePC2.jpg")] bg-[url("/heroImageMobile.jpg")] bg-cover bg-top;
}

.heroImage {
    @apply absolute top-0 left-0 -z-20 h-full w-full object-cover object-top;
}

/* program select section */

#pilatesProgram, #yogaProgram {
    transition: opacity 0.15s ease-in-out, transform 0.15s ease-in-out;
    transition: all .15s ease-in-out;
}

.program {
    @apply md:h-[90vh] h-[40vh] md:w-[50vw] flex flex-col justify-center items-center md:gap-0 md:rounded-none rounded-3xl md:m-0 m-3;
}

.program a {
    @apply scale-75 md:scale-100;
}

.pilates {
    @apply md:bg-[url('/choosePilates.jpg')] bg-[url('/choosePilatesMobile.jpg')];
    @apply bg-cover bg-right;
}

.yoga {
    @apply md:bg-[url('/chooseYoga.jpg')] bg-[url('/chooseYogaMobile.jpg')];
    @apply bg-cover bg-left;
}

.pilates * div {
    @apply  bg-black text-sunset md:p-2 p-1 rounded-t-md text-center w-96;
}

.pilates * * h4 {
    @apply md:text-3xl text-xl; /* changing text */
}

.mainProgramText {
    @apply md:text-7xl text-5xl bg-sunset text-black md:p-5 p-3 rounded-b-md text-center w-96 hover:bg-flame transition-all duration-500;
}