@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	scroll-snap-type: y mandatory;
	scroll-behavior: smooth;
}

body > section {
	@apply md:h-[90vh] h-screen text-center py-10 md:py-[0];
	scroll-snap-align: end;
}

h1 {
	@apply text-7xl md:text-9xl;
}

h2 {
	@apply text-5xl md:text-8xl;
}

h3 {
	@apply text-4xl md:text-7xl;
}

h4, .h4 {
	@apply text-2xl md:text-4xl;
}

h5, .h5 {
	line-height: 30px;
	font-size: 22px;
	@apply md:text-3xl;
}

p, .para {
	@apply text-xl md:text-2xl;
}

.sectionHeader {
	@apply md:pt-8 md:pb-12 max-w-[90%] mx-auto underline underline-offset-8 h-[10vh] md:h-[20vh];
}

.logoSVG, #logoSVG {
	@apply fill-flame;
}

/* Hero section */
.hero {
	@apply h-[90vh] flex flex-col justify-center overflow-hidden text-sunset transition-all duration-500;
	scroll-snap-align: end;
	@apply md:bg-[url("/heroImagePC2.jpg")] bg-[url("/heroImageMobile.jpg")] bg-cover bg-top;
}

.heroImage {
	@apply absolute top-0 left-0 -z-20 h-full w-full object-cover object-top;
}

/* program select section */

#pilatesProgram,
#yogaProgram {
	transition: opacity 0.15s ease-in-out, transform 0.15s ease-in-out;
	transition: all 0.15s ease-in-out;
}

.program {
	@apply md:h-full h-[40vh] md:w-[50vw] flex flex-col justify-center items-center md:gap-0 md:rounded-none rounded-3xl md:m-0 m-3;
}

.program a {
	@apply scale-75 md:scale-100;
}

.pilates {
	@apply md:bg-[url('/choosePilates.jpg')] bg-[url('/choosePilatesMobile.jpg')];
	@apply bg-cover bg-right;
}

.yoga {
	@apply md:bg-[url('/chooseYoga.jpg')] bg-[url('/chooseYogaMobile.jpg')];
	@apply bg-cover bg-left;
}

.pilates * div {
	@apply bg-black text-sunset md:p-2 p-1 rounded-t-md text-center w-96;
}

.pilates * * h4 {
	@apply md:text-3xl text-xl; /* changing text */
}

.mainProgramText {
	@apply md:text-7xl text-5xl bg-sunset text-black md:p-5 p-3 rounded-b-md text-center w-96 hover:bg-flame transition-all duration-500;
}

/* explore programs */

.weOfferContainer {
	scroll-snap-type: y mandatory;
	@apply border-red-500 md:h-[70vh] h-[90vh] overflow-auto;
}

.weOfferSection {
	scroll-snap-align: start;
	@apply h-full 
}

.programContainer {
	@apply container mx-auto w-full flex flex-col md:flex-row justify-between md:justify-around items-center md:h-[60vh] h-[65vh] border-gray-700;
}

.programImagesContainer {
	@apply md:h-[50vh] h-[30vh];
}

.programImagesContainer img {
	@apply h-[calc(100%-10vh)] md:h-[50vh] w-[90%] md:w-full object-cover mx-auto ;
}

.programAccordionContainer { 
	@apply container mx-auto w-full md:w-[50%] text-lavender-bush md:h-[50vh] h-[40vh] overflow-y-scroll flex flex-col;
}

/* footer */

footer > div > * {
	@apply py-2.5 md:py-0;
}

footer p {
	@apply text-lg md:text-xl
}